* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

html {
    // overflow-y: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    // margin-left: calc(100vw - 100%);
    // margin-right: 0;
}

body {
    background-color: #f4f5f7;
}

button {
    cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
}

.app {
    width: 100vw;
}

.bg-header {
    background: #fff;
}

.user-window {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user {
    max-width: min-content;
    // background-color: #f4f5f7;
    border-radius: 3px;
    color: #7e7e7e;
    font-size: 18px;
    margin: 15px 0;
    padding: 5px 10px;
}

// bread-crambs
.breadcrumbs {
    display: flex;
    margin: auto 0 auto 20px;
}

.breadcrumbs {
    a {
        font-size: 18px;
        color: #cacaca;
        transition: .1s linear;
        display: flex;
        cursor: pointer;
        text-decoration: none;
    }

    a:hover {
        color: #7e7e7e;
    }
}

.space-crutch {
    color: transparent;
}

// authorization
.authorization {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-self: center;
    color: #dfdfdf;
}

.lgn-rg {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 250px;
}

.authorization button,
.lgn-rg a {
    // font-weight: 600;
    // letter-spacing: .2px;
    color: #7e7e7e;
}

.sign {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
    width: 230px;
}

.sign input {
    margin-bottom: 5px;
    padding: 2px 0 2px 10px;
}

.sign div {
    display: flex;
    justify-content: center;
}

// add task
.tasks {
    border-radius: 5px;
}

.add-task {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #dfdfdf;
    padding: 15px;
}

.btn {
    align-self: center;
    margin: auto;
}

.input-fields {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 5px;
    margin-bottom: 5px;
}

.task-input {
    width: 280px;
    height: 25px;
    padding-left: 5px;
}

.task-desc {
    color: #686868;
}

.task-desc-input {
    padding-top: 5px;
    height: 50px;
}

.btn-add {
    width: 50px;
}

.menu {
    background: #fff;
    margin: 15px auto;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 0 0 10px #dddddd;
}

// sorter
.sorter {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sorter:last-child div {
    display: flex;
}

.sorter button {
    padding: 2px;
    margin: 5px;
    width: 60px;
}

// taskslist
.task {
    display: flex;
    justify-content: space-between;
    color: #888888;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: .2s linear;
    box-shadow: 0 0 10px #dddddd;
}

.task-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}

.for-whom {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    word-wrap: break-word;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #7e7e7e;
}

.email {
    display: flex;
    align-items: center;
    color: #7e7e7e;
    word-wrap: break-word;
}

.email p {
    font-size: 16px;
    padding-top: 2px;
}

.control {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 35px;
    align-self: flex-start;
    align-items: center;

    .txt {
        margin-left: 10px;
    }
}

.status {
    min-width: 20px;
    min-height: 20px;
    border: #dfdfdf 2px solid;
    margin: 5px;
    cursor: pointer;
}

.task-btn {
    max-height: 24px;
    padding: 2px;
}

.task-content {
    max-width: 80%;
}

.task-title {
    color: #7e7e7e;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.task-desc {
    text-align: justify;
    color: #7e7e7e;
    word-wrap: break-word;
    line-height: 22px;
    text-indent: 20px;
}

.editArea {
    padding: 5px;
}

// pagination
.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: 600;
}

.pagination button {
    padding: 3px;
    margin: 2px;
    box-shadow: 0 0 10px #dddddd;
}

// Animation
.smooth-up-enter-active {
    animation: coming .2s;
    animation-delay: .2s;
    opacity: 0;
}

.smooth-up-leave-active {
    animation: going .2s;
}

@keyframes coming {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes going {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100px);
        opacity: 0;
    }
}

.smooth-side-enter-active,
.smooth-side-leave-active {
    transition: opacity .5s
}

.smooth-side-enter,
.smooth-side-leave-to {
    opacity: 0
}

// HELPERS

.flex {
    display: flex;
}

.wrap {
    max-width: 1100px;
    margin: auto;
}

.jus-con-center {
    justify-content: center;
}

.txt {
    color: #7e7e7e;
}

.button {
    padding: 4px;
    margin: 5px;
    color: #000;
    text-decoration: none;
    background-color: #ffffff;
    border: 2px solid #dfdfdf;
    border-radius: 2px;
    transition: all .2s linear;
}

.button:hover {
    background-color: #7e7e7e;
    border: 2px solid#7e7e7e;
    color: #fff;
}

.button-txt {
    color: #7e7e7e;
}

.grey-brd {
    border: 2px#dfdfdf solid;
    color: #7e7e7e;
}

.grey-brd::placeholder {
    color: #7e7e7e;
}